@media screen and (min-width: 320px) {
    .ph-row-1{
        margin: 0px 0px 0px 45px;
    }
}
@media screen and (min-width: 768px) {
    .ph-row-1{
        margin: 0px 0px 0px 0px;
    }
 }


.ph-title{
    color: rgb(127, 87, 87);
    font-size: 30px;

    font-weight: bold;
    font-style: italic;
}
.Philosophy-content{
     background-color: rgba(255, 255, 255, 0.5); 
    padding:20px 0px;
}
@media screen and (min-width: 320px) {
    .ph-title{
        color: rgb(127, 87, 87);
        padding: 0px 0px 0px 35px;
    font-size: 25px;
    font-weight: 900;
    position: fixed;
    z-index: 2000;
    margin-top: -33px;
    }
    .ph-row{
        margin:50px 0px 45px 0px;
    }
}
@media screen and (min-width: 768px) {
    .ph-title{
        padding-left: 10px;
        font-size:30px;
        margin: -33px 0px 0px 4px;
        }
    .content-img{
        width: 40%;
    }
    .ph-row{
        margin:43px 0px 45px 0px;
    }
    .Philosophy-content{
        padding:20px 0px;
    }
 }
 @media screen and (min-width: 769px) {
    .ph-row{
        margin:140px 0px 0px 0px;
    }
    .content-img{
        width: 100%;
    }
    .ph-title{
        color: rgb(127, 87, 87);

        font-size: 40px;
        padding: 60px 0px 0px 15px;
        position: relative;
        z-index: inherit;
        margin: initial;
    
    }
 }
.resume{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
 .ph-content-img{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 @media screen and (min-width: 768px) {
    .ph-content-img{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }

 }
 @media screen and (min-width: 1024px) {
    .ph-content-img{
        display: flex;
        justify-content: center;
        align-items: center;

    }

 }
.content-img{
    text-align: center;
}
.nav-li-a-content{
    color: black;
}
.breadcrumb{
    background-color: rgba(255, 255, 255,0);
}
.breadcrumb-item-content{
    color: black;
}
.breadcrumb-item.active{
    font-weight: bold;
    color:black;
    text-decoration: underline;
}
.Philosophy-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 320px) {
    .Philosophy-content{
        margin: 0px 0px 20px 0px;
    }
}
@media screen and (min-width: 768px) {
    .Philosophy-content{
        margin: 0px 0px 20px 0px;
    }
 }
/*.card-row{
    justify-content: space-evenly;
}*/
.card{
    width: 80%;
    height: 100%;
    border: 10px;
    margin: 20px 10px;
    align-items:center;
}

 @media screen and (min-width: 320px) {
    .card{
        width: 95%;
    }
    .card_bg{
        background-color: rgba(255, 255, 255,0); 
    }
    .card-img-top{
        width:65%;
        margin-top: 20px;
    }
}
@media screen and (min-width: 768px) {
    .card_bg{
        background-color: rgba(255, 255, 255, 0); 
    }
    .card{
        width: 80%;
    }
    .card-img-top{
        width:75%;
        margin-top: 20px;
    }
 }
.card-img-top{
    width:60%;
    margin-top: 20px;
}
.card-name
{
    color:#7f5757;
    font-weight: bold;
    font-family: 'Microsoft JhengHei';
}