body{
    margin:50px 0px;
    font-family: 'Noto Sans TC',sans-serif;
}
.ph-title{
    font-family: 'Noto Sans TC',sans-serif;
}
 .container{
     padding: 0;
 }
 .row{
     margin: 0px;
 }

 @media screen and (min-width: 320px) {
    .navbar{
        background-color:rgb(160, 158, 158);
    }
    .nav__bg{
        background-color:rgb(199, 195, 195);
     }
     .nav-menu{
         padding: 10px 0px 10px 15px;
     } 
     .container{
        max-width:none;
    }
    .breadcrumb-col{
        margin: 0px 0px 0px 17px;
    }
 }
 @media screen and (min-width: 768px) {

     .nav-menu{
         padding: 10px 0px 10px 15px;
     } 
     .breadcrumb-col{
        margin: 0px 0px 0px 0px;
    }
 }
 @media screen and (min-width: 769px) {
    .navbar{
        background-color:rgb(110, 108, 108,0);
    }
    .nav__bg {
        background-color:rgba(0, 0, 0, 0);
     }
     .nav-menu{
        position: absolute;
        padding: 0;
    } 

 }
 .nav-display
 {
     display: block;
 }

 @media screen and (min-width: 1024px) {
 .fixed-top{
     right: auto;
     left: auto;
 }
}
 /* Header Style */
 .header {
    background-color: #00979c;
    padding-top: 122px;
    padding-bottom: 50px;
    color: #fff;
    font-size: 0.8rem;
 }
 
 @media screen and (min-width: 768px) {
    .header {
       padding-top: 184px;
       padding-bottom: 100px;
       font-size: 1rem;
    }
 }
 .header__slogan {
    font-size: 1.75em;
    text-transform: uppercase;
    margin: 0;
 }
.nav-container{
    margin: 10px 15px 0px 0px;
}
 img {
    max-width: 100%;
    height: auto;
 }
.li-content{
    margin: 30px;
}
li{
    text-align: center;
}
@media screen and (min-width: 320px) {
    .li-content{
        margin: 0px;
    }
    .div-index{
         margin: -50px 0px 0px 0px; 
        padding: 0px;
    }

    .img-logo {
        margin-top:15px;
        max-width: 60%;
     }
 }
 @media screen and (min-width: 769px) {
    .div-index{
        margin: 0;
    }
    .li-content{
        margin: 10px;
    }
    .img-logo {
        max-width: 80%;
     }
 }
 @media screen and (min-width: 1024px) {
    .div-index{
        margin:0px;
        padding: 0px 15px 0px 0px;
    }
    .img-logo {
        margin-top:0;
        max-width: 100%;
     }
     .img-index{
         height: 80%;
     }
     .line{
         /* background-color: black; */
         height:1px;
         border:0;
    }
    .nav-container{
        margin-top: 0px;
    }
 }
 /* .nav-link{
     padding: 0px;
 } */
.nav-content{
    color: black;
}
.nav-li-a-content{
    font-size: 20px;
    white-space: nowrap;
    color: black;
}
.footer-row{
    margin: 30px 0px;
    text-align: center;
}
.footer-content{
    font-size: 16px;
    white-space: nowrap;
}
.breadcrumb-item+.breadcrumb-item::before{
    content:">"
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: inherit;
}
}
.navbar-nav{
    padding: 10px 15px 15px 15px;
}
.breadcrumb{
    padding: 12px 0px;
}
.dropdown-menu{
    background-color: rgba(223, 215, 215, 0.712);

}

  
.nav-li-a-content :hover ,.text-body:hover,.dropdown-toggle:hover,.breadcrumb-item-content:hover{
    background-color: rgba(78, 77, 77, 0.534);
    color: white;
}
.nav-li-a-content :active ,.text-body:active,.dropdown-toggle:active,.breadcrumb-item-content:active{
    background-color: rgba(153, 121, 106, 0.801);
    color: white;
}
@media (min-width: 320px){
    .dropdown-menu{
        padding-left: 22%;
    }
}
@media (min-width: 768px){
    .dropdown-menu{
        padding-left: 39%;
    }
}
@media (min-width: 1024px){
    .dropdown-menu{
        padding-left: 17%;
    }
}



#gotop {
    position: fixed;
    border-radius: 50px;
    right: 20px;
    bottom: 30px;
    padding: 10px 16px;
    font-size: 25px;
    background: rgb(20, 20, 20);
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;
  }
  #gotop:hover{
    background:  rgb(168, 125, 105);
  }